<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- komentarze DTL -->
    {# {% nie_istnieje_sobie %} moj komentarz jednolinikowy #}

    {% comment %}
        To jest moj komentarz wielolinijkowy
        {% nie_istnieje_sobie %}
    {% endcomment %}

    <!--  Praca z listami  -->
    <!-- wyświetlenie listy -->
    {{ fruits }}

    <!-- Przeiterowanie się po liście -->
    <ul>
    {% for fruit in fruits %}
        <li>{{ fruit }}</li>
    {% endfor %}
    </ul>

    <!-- Filtry -->
    <div>
        {{ fruits|length }}
    </div>

    <div>
        {{ fruits|upper }}
    </div>

    <div>
        {{ fruits|join:", " }}
    </div>

    <div>
        {{ fruits|length|add:2 }}
    </div>

    <!--  Indeksowanie  -->
    <div>
        {{ fruits.0 }}
    </div>

    <div>
        {{ fruits.3 }}
    </div>

    <!-- Praca ze słownikami -->
    <!--  Po kluczu (dict lookup)  -->
    <p>{{ person.name }} {{ person.surename }} {{ person.age }}</p>

    <!--  Przeiterowanie się po słowniku  -->
    <p>Klucze</p>
    <p>{% for key in person %}
        {{ key }}
    {% endfor %}</p>

    <p>Wartości</p>
    <p>{% for value in person.values %}
        {{ value }}
    {% endfor %}</p>

    <p>Klucze i wartości</p>
    <ul>
    {% for key, value in person.items %}
        <li>{{ key }} {{ value }}</li>
    {% endfor %}
    </ul>

    <!-- Przeiterowanie się po liście -->
    <ul>
    {% for fruit in fruits %}
        {% if forloop.first %}
            Zawartość zmiennej kontekstowej forloop przy pierwszym obrocie pętli: {{ forloop }}
        {% endif %}
        <li>{{ forloop.counter0 }} {{ fruit }}</li>
    {% endfor %}
    </ul>

    <!--  Praca z obiektami  -->
    <p>{{ cow }}</p>
    <p>{{ cow.name }}</p>
    <p>{{ cow.speak }}</p>

</body>
</html>